.bao .header {
    width: 80%;
    background-color: white;
    position: relative;
}

.bao nav {
    position: fixed;
    width: 1000px;
    z-index: 1;
}

.a {
    width: 150px;
}

.bao .nav li a:hover {
    background-color: rgb(67, 135, 170);
    font-weight: bold;
}

.bao .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgb(102, 182, 231);
}

.bao .menu li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

.bao .menu li a:hover {
    background-color: rgb(67, 135, 170);
    font-weight: bold;
    color: white;
}

.bao .menu h3 {
    background-color: rgb(13, 202, 240);
    text-align: center;
    margin-bottom: 0;
    line-height: 40px;
}

.bao .menu {
    position: fixed;
    margin-top: 355px;
    float: left;
}

.bao .menu ul a {
    text-decoration: none;
    line-height: 42px;
    padding-left: 15px;
}

.bao .header {
    position: fixed;
    margin-top: 65px;
}

.bao .header img {
    width: 1000px;
    height: 300px;
}

.bao>footer {
    background-color: rgb(13, 202, 240);
    width: 1000px;
    text-align: center;
    clear: both;
    border-top: 5px double rgb(15, 15, 15);
    line-height: 30px;
    position: fixed;
    margin-top: 860px;
}

.bao>article {
    width: 800px;
    float: left;
    line-height: 40px;
    margin-left: 200px;
    margin-top: 365px;
    margin-bottom: 60px;
}

.bao {
    max-width: 1000px;
    margin: 0 auto;
}

.bao aside {
    float: left;
}

.a2 {
    width: 200px;
}

p {
    text-align: justify;
}

footer p {
    text-align: center;
}

.a4 {
    width: 100px;
    margin-left: -80px;
    margin-top: -110px;
}

span {
    font-family: 'Times New Roman';
    color: crimson;
    font-size: larger;
}

.d {
    width: 100px;
    margin-left: 310px;
    background-color: cornflowerblue;
    color: white;
}